// $brand-color: #142358;  //nowa propozycja 1
// $brand-color: #301998;  //nowa prop 3
// $brand-color: #2d12a4;  //nowa prop 2
$brand-color: #253469;
$white-cream-background: #f6f6f6;
$gray-color: #8c8c8c;